<ion-header>
  <ion-toolbar>
    <ion-buttons slot="end">
      <ion-button (click)="dismissModal()">X</ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div id="container">
    <strong>Ready to create an app?</strong>
    <p>Start with Ionic <a target="_blank" rel="noopener noreferrer" href="https://ionicframework.com/docs/components">UI Components</a></p>
  </div>
  <div id="container">
    <strong>Ready to create an app?</strong>
    <p>Start with Ionic <a target="_blank" rel="noopener noreferrer" href="https://ionicframework.com/docs/components">UI Components</a></p>
  </div>
  <div id="container">
    <strong>Ready to create an app?</strong>
    <p>Start with Ionic <a target="_blank" rel="noopener noreferrer" href="https://ionicframework.com/docs/components">UI Components</a></p>
  </div>
  <div id="container">
    <strong>Ready to create an app?</strong>
    <p>Start with Ionic <a target="_blank" rel="noopener noreferrer" href="https://ionicframework.com/docs/components">UI Components</a></p>
  </div>
  <div id="container">
    <strong>Ready to create an app?</strong>
    <p>Start with Ionic <a target="_blank" rel="noopener noreferrer" href="https://ionicframework.com/docs/components">UI Components</a></p>
  </div>
  <div id="container">
    <strong>Ready to create an app?</strong>
    <p>Start with Ionic <a target="_blank" rel="noopener noreferrer" href="https://ionicframework.com/docs/components">UI Components</a></p>
  </div>

  <ion-datetime>
    <div slot="title">Working Datetime on Page but not on Modal</div>
  </ion-datetime>

  <div class="grid">
    <div class="grid-item">
      <h2>Datetime in Overlay as Modal</h2>
      <ion-button id="open-modal">Open Datetime Modal</ion-button>
      <ion-modal  mode="ios" trigger="open-modal">
        <ng-template mode="ios">
        <ion-content mode="ios" >
          <ion-datetime mode="ios"></ion-datetime>
        </ion-content>
        </ng-template>
      </ion-modal>
    </div>
  </div>

  <ion-item button="true" id="open-date-input">
    <ion-label>PopoverDate open on bottom of the page</ion-label>
    <!-- <ion-text slot="end">{{ dateValue }}</ion-text> -->
    <ion-popover class="popoverDatetime" trigger="open-date-input" show-backdrop="false">
      <ng-template>
        <ion-datetime
          #popoverDatetime
          presentation="date"
        ></ion-datetime>
      </ng-template>
    </ion-popover>
  </ion-item>
</ion-content>
